header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100vw;
  background-color: black;
  color: white;
  line-height: 46px;
  box-shadow: 0 -9px 10px 10px #606060;
  z-index: 1;
  position: fixed;
  top: 0;
  .header_search {
    width: 380px;
    height: 34px;
    border: 2px solid #505050;
    border-radius: 30px;
    color: #d0d0d0;
    background-color: #303030;
    margin-left: 20px;
  }
  h1 {
    position: absolute;
    left: 48%;
  }
}

.accbox input {
    display: none;
}

.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}
