.content_over_link {
  text-decoration: none;
  color: black;
}

.contents {
  padding-top: 50px;
  width: 65vw;
  min-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .content {
    width: 340px;
    height: 390px;
    background-color: white;
    margin: 10px 10px;
    position: relative;
    &__title {
      margin: 10px 10px;
      min-height: 50px;
      font-size: 20px;
      line-height: 2rem;
      font-weight: bold;
    }
    &__midle{
      &__source {
        font-size: 10px;
        position: absolute;
        right: 0;
        margin-right: 10px;
        color: #b0b0b0;
      }
    }
    hr {
      margin-top: 30px;
    }
  }
}
